body {
  /* background-color: rgb(57, 91, 184); */
  background-color: rgb(25, 27, 105);

}

.app, .header, .capture, .urlForm {
  border-radius: 15px;
  padding: 1.5em;
  background-color: #fff;
  /* max-width: 50em; */
  /* margin: auto; */
  border: 3px solid;
  text-align: center;
}

.urlForm {
  text-align: center;
  display: block;
  justify-content: start;
}

.camPosition {
  text-align: center;
  display: block;
  justify-content: space-between;
  background-color: rgb(245, 244, 244);
}

/* .header {
  text-align: center;
  max-width: 40;
} */

/* .capture {
  max-width: inherit;

} */

img {
  /* padding: 0.3em; */
  background-color: #fff;
  max-width: inherit;
  margin: inherit;
  width: 100%
  /* border: 3px solid; */
}

.configSection {
  margin: auto
}

.configFormField {
  border-radius: 15px;
  padding: 0.3em;
  margin: auto
}

/* .capture {
  margin-top: 5em;
  display: flex;
  align-items: center;
} */



/* form {
  display: block;
  justify-content: space-between;
} */



:focus {
  outline: 3px solid red;
}

button:hover {
  opacity: 0.9;
}

