body {
  /* background-color: rgb(57, 91, 184); */
  background-color: rgb(15, 56, 34);

}

.app, .header, .capture {
  border-radius: 15px;
  padding: 2.3em;
  background-color: #fff;
  max-width: 30em;
  margin: auto;
  border: 3px solid;
}

.header {
  text-align: center;
}

/* .capture {
  margin-top: 5em;
  display: flex;
  align-items: center;
} */



/* form {
  display: block;
  justify-content: space-between;
} */



:focus {
  outline: 3px solid red;
}

button:hover {
  opacity: 0.9;
}

