body {
  /* background-color: rgb(57, 91, 184); */
  /* background-color: rgb(25, 27, 105); */
  /* background-color: rgba(18, 8, 105, 0.76); */
  /* background-color: rgb(50, 85, 139); */
  /* background-color: rgb(21, 52, 96); */
  background-color: rgb(20, 50, 100);
}

.app, .header, .capture, .urlForm, .configSection, .configList {
  /* border-radius: 5px; */
  padding: 1em;
  background-color: #fff;
  /* margin: auto; */
  /* border: 3px solid; */
  text-align: center;
  font-size: 2.7vmin;
  
}

/* .configList {
  max-width: 15em;
} */

.navbar {
  padding: 1.5em;
  text-align: center;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 17%;
}

.urlForm {
  margin-top: 1em;
  text-align: center;
  display: block;
  justify-content: start;
}

.camPosition {
  text-align: center;
  display: block;
  justify-content: space-between;
  background-color: rgb(245, 244, 244);
}

.header {
  margin-top: 1em;
  text-align: center;
  /* max-width: 40%; */
}

/* .capture {
  max-width: inherit;

} */

img {
  /* padding: 0.3em; */
  background-color: #fff;
  max-width: inherit;
  margin: inherit;
  width: 100%
  /* border: 3px solid; */
}

.configSection {
  margin: auto;
  padding: 0;
  width: 100%
}

.configFormField {
  border-radius: 15px;
  padding: 0.3em;
  margin: auto;
}

/* .capture {
  margin-top: 5em;
  display: flex;
  align-items: center;
} */

input {
  width: 100%
}

/* form {
  display: block;
  justify-content: space-between;
} */



:focus {
  outline: 3px solid red;
}

button:hover {
  opacity: 0.9;
}

